* {
    font-family: 'Courier New', Courier, monospace, 'Times New Roman', serif;
    background-color: white;
    color: black;
    display: block;
}

img {
    border-radius: 5px;
    height: 40px;
    width: auto;
}

p, article {
    font-size: 20px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}