:root {
    --light: #c1ffe5;
    --midtone: 
    --dark: 
}

* {
    margin: 5px;
    padding: 25 px;
    background-color: var(--light)
    font-color: grey
}



section {
    box-sizing: border-box;
}
header {  
    background-color: gray
    
}

#title {
    font-display: left;
}

.header-items {
    font-style: oblique;
    font-display: right;
    display: right;
    color: black;
}