:root {
    --light: #c1ffe5;
    --med: grey;
    --dark: black;
    --lite: white;
}

* {
    margin: 5px;
    padding: 5px;
    background-color: var(--light);
    color: var(--med);
}

header {  
    background-color: var(--med);  
    display: flex;
    justify-content: center;
    background-image: linear-gradient(var(--lite), var(--med));
    position: fixed;
}

section {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    padding: 0px;
    justify-content: space-around;
    display: flex;
    align-items: flex-end;
    font-size: 20px;
    border-top: solid var(--med) 2px;
}

#title {
    font-display: left;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
}

nav div{
    font-size: 55px;
    padding: 0px;
    margin: 0px;
}

.header-items {
    font-style: oblique;
    justify-content: space-around;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}

    /*Content*/

#about-me {
    margin-top: 215px;
}

.list {
    list-style: none;
}

.bold {
    font-weight: bold;
}

.content {
    text-align: center;
}

.content h1{
    font-size: 25px;
}

    /*Project section*/
    
.date {
    font-weight: normal;
}

.photo {
    height: 250px;
    width: 250px;
    border:inset;
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

#first-project {
    border-top: solid;
}

.project-images {
    height: 300px;
    weight: 250px;
}

.projects, #about-me {
    border-bottom: dashed;
}

        /*Footer */
.footer-links {
    text-decoration: none;
}

/* Footer underline won't disapper*/
.footer-links:hover {
    text-decoration: underline;
}
/* doesn't work*/
footer .copyright{
    display: block;
}

/* Contact Form section*/

input, textarea, label, button {
    background-color: var(--lite);
    border: inset;
    border-radius: 5px;
}

input {
    cursor: text;
} 

button:hover {
    text-decoration: underline;
} 

.header-items:hover {
    text-decoration: underline;
}
 
#comment {
    background: var(--lite);
    height: auto;
    width: 100%;
}

/*Responsiveness*/
/* make the screen sizing accesible for mobile use */
@media screen and (max-width: 770px) {
    .photo {
        height: 30vw;
    }
    
    .project-images {
        height: 40vw;
    }

    #about-me {
        margin-top: 250px;
    }

    form p label {
        display: flex;
        flex-wrap: wrap;
        
    }
}